# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.production

# Google Sheets credentials
credentials.json

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Flyway ignores
*.user.toml
*.artifact
report.html
report.json